<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yidongzhong">

    <!-- 加入应用需要的权限 -->
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 读写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- jpush Required -->
    <uses-permission android:name="com.lizhiweike.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--bugly-->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <permission
        android:name="com.yidingzhong.permission.RECEIVE_MSG"
        android:protectionLevel="signature"/>
    <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="com.lizhiweike.permission.RECEIVE_MSG"/>

    <!-- jpush Required -->
    <permission
        android:name="com.yidingzhong.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".account.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.PointsEarnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".charge.activity.ReChargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".duobao.activity.LatestLotteryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".product.activity.ProductProcessingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".product.activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".region.activity.RegionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".comment.CommentDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".duobao.activity.DuoBaoDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".dailycheck.activity.DailyCheckActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".duobao.activity.ToBePublishedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".account.activity.ShippingAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".redpacket.activity.RedPacketActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".charge.activity.ReChargeRecordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".points.activity.PointsRecordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".system.SystemMessageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".framework.CommonWebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".points.activity.PointsMallActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".points.activity.PointsMallDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".duobao.activity.ShareActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".redpacket.activity.RedPacketDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".dailycheck.activity.DailyCheckTipsActivity"
            android:screenOrientation="portrait"/>

        <!-- bugly start -->
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="69bcd1f57e" />
        <!-- 配置APP版本号 -->
        <!--<meta-data-->
        <!--android:name="BUGLY_APP_VERSION"-->
        <!--android:value="2" />-->
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="official" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />

        <!--乐固多渠道打包-->
        <meta-data
            android:name="channelForLegu"
            android:value="1" />
        <!-- bugly end -->
    </application>

</manifest>
