<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.yidingzhong.uikit">

    <!--umeng start-->
    <uses-sdk android:minSdkVersion="4"></uses-sdk>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--umeng end-->

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.yidingzhong.uikit.common.media.picker.activity.PickerAlbumActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yidingzhong.uikit.common.media.picker.activity.PickImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yidingzhong.uikit.common.media.picker.activity.CropImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yidingzhong.uikit.common.media.picker.activity.PickerAlbumPreviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yidingzhong.uikit.common.activity.PictureViewPagerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yidingzhong.uikit.common.media.picker.activity.PreviewImageFromCameraActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yidingzhong.uikit.common.media.picker.activity.PreviewImageFromLocalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yidingzhong.uikit.common.media.picker.activity.CaptureVideoActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
